@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
:root.dark {
  color-scheme: dark;
}

/* Smooth anchors */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

/* Nice selection */
::selection {
  @apply bg-slate-900 text-white dark:bg-slate-200 dark:text-slate-900;
}
