.error-page a {
  text-decoration: underline;
}

.go-back-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  i,
  a {
    color: white;
    font-size: 20px;
    transition: 0.2s;

    &:hover {
      color: var(--color-yellow);
    }
  }
}
